.ts_zt{
    width: 1170px;
    margin: 0 auto;
}
.ts_jjie{
     margin-top: 20px;
    margin-bottom: 70px;
}
.ts_p{
    color: #626262;
    font-size: 16px;
    text-indent: 2em;
    line-height: 1.6;
}
.ts_zz{
    width: 100%;
    height: 657px;
    margin: 0 auto;
    background: url("../img/t1.png") no-repeat center ;
    background-size: 100%;
}
.ts_zz  img{
    width: 100%;
    height: 100%;
}
.ts_zp2{
    margin-top:74px;
    margin-bottom: 120px;
}
.ts_xf{
    width: 1220px;
    height: 631px;
    margin: 0  auto;
    background:  url("../img/ts_beijing.png") no-repeat center;
}
.ts_xf_hf{
     width: 1220px;
    height: 232px;
}
.ts_xfx{
    width: 150px;
    text-align: center;
    line-height: 1.6;
    margin-left: 35px;
    margin-right: 15px;
    float: right;
}
.ts_xfy{
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #e04d0e;
    overflow: hidden;
    transition: 0.2s;
}
.ts_xfy img{
    width: 100%;
    height: 100%;
}
.ts_xfz1{
    color: #2b2b2b;
    font-size: 18px;
    display: block;
    margin-top: 4px;
}
.ts_xfx p{
    color: #540809;
    font-size: 14px;
}
.ts_xfx:hover .ts_xfy{
    transform: scale(1.3);
}
.ts_xfx:hover .ts_xfz1{
   color: #e04d0e;
}
.ts_xfx:hover  p{
    color: #e04d0e;
}