*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    height: 100%;
}
body{
    min-height: 100%;
    height: 100%;
    font-family: 微软雅黑;
    background-image: -moz-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(84,99,148) 0%, rgb(177,77,142) 100%);
}
.find{
    width: 2.49rem;
    height: 1rem;
    background: #f36da0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: white;
    text-align: center;
    font-size: 0.39rem;
    line-height: 1rem;
    cursor: pointer;
    /*box-shadow: 0rem 0rem 0.07rem 0.05rem #5d5d5d;*/
    box-shadow:0rem 0.03794rem 0.21rem 0rem #5d5d5d;
}
.top{
    height: 5.6rem;
    background: url("../img/line_top.png") no-repeat 3.12rem bottom;
    background-size:0.04rem ;
    position: relative;
}
.center{
    height: 2.6rem;
    background: url("../img/line_middle.png") repeat-y 3.12rem top;
    background-size:0.04rem ;
    position: relative;
}
.bottom{
    height: 3.85rem;
    background: url("../img/line_bottom.png") no-repeat 3.12rem top;
    background-size:0.04rem ;
    text-align: center;
    line-height: 6rem;
}
.input_warp{
    position: relative;
}
.center .circle{
    width:0.5rem ;
    height: 0.5rem;
    position: absolute;
    left: 2.97rem;
    top:0.25rem;
}
.center .circle img{
    position: absolute;
    left: 0;
    width:0.4rem;
}
.center .circle span{
    position: absolute;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    border-radius: 1rem;
    background: white;
}
.center .circle .bg_circle{
    animation: myframe 2s infinite;
}
@keyframes myframe {
    from{
        transform: scale(0,0);
        opacity: 1;
    }
    to{
        transform: scale(3.0);
        opacity: 0;
    }
}
.input_warp label{
    font-size: 0.47rem;
    position: absolute;
    top:0.09rem;
    color: #ddc5d6;
    left: 1.66rem;
}
.cen_inp{
    width: 4.3rem;
    height: 0.8rem;
    font-size: 0.5rem;
    position: absolute;
    top:0;
    left: 4.41rem;
    color: white;
    border: none;
    background: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ddc5d6;
}
.input_warp2{
    top:1.5rem;
}
.bottom button{
    width: 3.47rem;
    height: 1.19rem;
    background: #f36da0;
    border-radius: 0.15rem;
    border: none;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;

}
